<div class="container">
  <div class="row">
    <div class="col-md-12 pt-5 ">
      <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="center">
        <mat-tab label="{{item.Name}}" *ngFor="let item of data">
          <div class="d-flex align-items-center justify-content-center mt-5">
            <h1>Employees Info</h1>
          </div>

          <div class="col-md-12" *ngFor="let empl of item.Employees">
            <div style="display: flex; align-items: center;">
              <div>
                <img style="width: 50px; height: 50px; border-radius: 100px;" src="{{empl.Img}}" alt="">
              </div>
              <div>
                <div class="col-12">
                  <span style="font-weight: 500;">
                    {{empl.Name}}
                  </span>
                </div>
                <div class="col-12">
                  <span>
                    {{empl.Position}}
                  </span>
                </div>
              </div>
            </div>
            <hr>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>